/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 6 févr. 2021, 18:50:25
    Author     : kh
*/

.form-offre-1 {

    width: 40%;
    height: 300px;
    margin-left: 30%;
    margin-top: 200px;
    background-color: #FFFFFF;
    display: block;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.message {
    display: inline-block;
    color: green;
    font-size: 22px;
    margin-left: 20%;
    margin-top: 100px;
}

.btn-to-home {


    margin-left: 39%;
    margin-top: 40px;
    width: 120px;
    height: 32px;
    border-radius: 40px;
    border: 0px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.btn-to-home:hover {


    background-color: green;
    color: white;
    font-size: 15px;

}
