.form-offre-1 {

    width: 60%;
    height: 500px;
    margin-left: 20%;
    margin-top: 100px;

    background-color: #FFFFFF;
    display: inline-block;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

input[type=text] {
    border-radius: 5px;
}

.titre-de-offre {
    width: 70%;
    height: 40px;
    margin-left: 15%;
    margin-top: 50px;
    margin-right: 0%;
    padding-left: 4px;

}

.province-de-offre {
    height: 40px;
    margin-left: 15%;
    margin-top: 10px;
    width: 33.5%;
    border-radius: 5px;
}

.ville-de-offre {
    border-radius: 5px;
    height: 40px;
    margin-left: 20px;
    width: 33.5%;


}

.description-de-offre {
    border-radius: 5px;
    width: 70%;
    height: 200px;
    margin-left: 15%;
    margin-top: 10px;
    margin-right: 20%;
    padding-left: 4px;

}

.submet-1 {
    border-radius: 15px;
    width: 14%;
    height: 30px;
    margin-left: 71%;
    margin-top: 10px;
    border: 0px;

}

.submet-1:hover {
    background-color: green;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: white;


}

.ms {
    font-size: 25px;
    color: #007bff;
    display: inline-block;
    margin-left: 40%;
    margin-top: 20px;


}

.message {
    color: red;
    font-size: 17px;
    margin-left: 15%;
    margin-top: -20px;
}
