.item.list-group-item {
    float: none;
    width: 100%;
    background-color: #fff;
    margin-bottom: 10px
}

.item.list-group-item:hover,
.item.list-group-item:nth-of-type(odd):hover {
    background: #428bca
}

.item.list-group-item .list-group-image {
    margin-right: 10px
}

.item.list-group-item .thumbnail,
.navbar {
    margin-bottom: 0
}

.item.list-group-item .caption {
    padding: 9px 9px 0
}

.item.list-group-item:nth-of-type(odd) {
    background: #eee
}

.item.list-group-item:after,
.item.list-group-item:before {
    display: table;
    content: " "
}

.item.list-group-item img {
    float: left
}

.item.list-group-item:after {
    clear: both
}

.glyphicon {
    margin-right: 5px
}

.thumbnail {
    margin-bottom: 20px;
    padding: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0
}

.list-group-item-text {
    margin: 0 0 11px
}

.search-form {
    margin: 40px 5px;
    font: 12px sans-serif;
    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, .08)
}

.search-form div.input-group-addon {
    background: #fff;
    color: #80a3bd;
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;
    border: 1px solid #b6c3cd;
    border-right: 0
}

.search-form .input-group input {
    background-color: #fff;
    box-shadow: none;
    color: #4e565c;
    outline: 0;
    border: 1px solid #b6c3cd;
    border-right: 0;
    border-left: 0
}

.search-form div.input-group-btn button {
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
    background: #6caee0;
    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, .08);
    color: #fff;
    border-color: #6caee0;
    outline: 0;
    opacity: .9
}

.search-form div.input-group-btn button:hover {
    opacity: 1
}

.search-form div.input-group-btn button:focus:active {
    background-color: #6caee0;
    color: #fff;
    outline: 0
}

.form-control-borderless {
    border: none
}

.form-control-borderless:active,
.form-control-borderless:focus,
.form-control-borderless:hover {
    border: none;
    outline: 0;
    box-shadow: none
}

.navigation-clean-button {
    padding-top: 10px;
    padding-bottom: 10px;
    color: #f2f5f8;
    border-radius: 0;
    box-shadow: none;
    border: none;
    margin-bottom: 0
}

@media (max-width: 767px) {
    .navigation-clean-button {
        padding-top: 0;
        padding-bottom: 0
    }

    .navigation-clean-button .navbar-header {
        padding-top: 10px;
        padding-bottom: 10px
    }

    .navigation-clean-button .navbar-right {
        margin-bottom: 20px
    }
}

.navigation-clean-button .navbar-brand {
    font-weight: 700;
    color: inherit
}

.navigation-clean-button .navbar-brand:hover {
    color: #1485ee
}

.navigation-clean-button .navbar-brand img {
    display: inline-block;
    margin-right: 10px;
    width: auto;
    height: 139px
}

.navigation-clean-button .navbar-toggle {
    border-color: #ddd
}

.navigation-clean-button .navbar-toggle:focus,
.navigation-clean-button .navbar-toggle:hover {
    background: 0 0
}

.navigation-clean-button .navbar-toggle .icon-bar {
    background-color: #888
}

.navigation-clean-button .navbar-collapse,
.navigation-clean-button .navbar-form {
    border-top-color: #ddd
}

.navigation-clean-button .navbar-nav > .active > a,
.navigation-clean-button .navbar-nav > .open > a {
    background: 0 0;
    box-shadow: none
}

.navigation-clean-button.navbar-default .navbar-nav > .active > a,
.navigation-clean-button.navbar-default .navbar-nav > .active > a:focus,
.navigation-clean-button.navbar-default .navbar-nav > .active > a:hover {
    color: #e04c40;
    border-top: 1px solid #e04c40;
    box-shadow: none;
    transition: background-color .25s;
    background: 0 0;
    pointer-events: none
}

.navigation-clean-button.navbar .navbar-nav > li > a {
    padding-left: 18px;
    padding-right: 18px
}

.navigation-clean-button.navbar-default .navbar-nav > li > a {
    color: #dfe8ee;
    font-weight: 400;
    text-transform: uppercase;
    font-family: 'Work Sans'
}

.navigation-clean-button.navbar-default .navbar-nav > li > a:focus,
.navigation-clean-button.navbar-default .navbar-nav > li > a:hover {
    color: #e04c40 !important;
    border-top: 1px solid #e04c40;
    background-color: transparent;
    transition: background-color .25s, _ .25s
}

.navigation-clean-button .navbar-nav > li > .dropdown-menu {
    margin-top: -5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .1);
    background-color: #222;
    border-radius: 2px
}

.navigation-clean-button .dropdown-menu > li > a,
.navigation-clean-button .dropdown-menu > li > a:focus {
    line-height: 2;
    font-size: 14px;
    font-weight: 300;
    font-family: Roboto;
    color: #df4c40
}

.navigation-clean-button .dropdown-menu > li > a:focus,
.navigation-clean-button .dropdown-menu > li > a:hover {
    background: #df4c40;
    color: inherit;
    transition: background-color .25s cubic-bezier(.25, .1, .25, 1)
}

.navigation-clean-button .actions {
    margin-top: 7px;
    margin-bottom: 0
}

.navigation-clean-button .actions .login {
    margin-right: 7px;
    text-decoration: none;
    color: #fff
}

.navigation-clean-button .action-button,
.navigation-clean-button .action-button:active {
    background: 0 0;
    border-radius: 0;
    color: #e04c40;
    box-shadow: none;
    border: 1px solid #e04c40;
    text-shadow: none;
    padding: 10px 22px;
    transition: background-color .25s
}

.navigation-clean-button .action-button:hover {
    background: #e04c40;
    color: #fff;
    font-weight: 400;
    border: 1px solid #df4c40
}

.btn {
    border-radius: 0;
    font-family: Roboto;
    font-weight: 400
}

a.navbar-brand.navbar-link {
    font-weight: 400
}

p.navbar-text.navbar-right.actions {
    font-family: 'Roboto Slab';
    text-transform: uppercase;
    font-weight: 400
}

a.navbar-link.login:hover {
    color: #e04c40
}

.btn.focus,
.btn:focus,
.btn:hover {
    color: #fff;
    text-decoration: none;
    background-color: #1485ee;
    border: none
}

.btn-default {
    color: #fff;
    background-color: #df4c40;
    border: none
}

.nav-right.HOME {
    height: 43px;
    width: 80px;
    background-color: #fff;
    border-radius: 32%;
    border-color: #757575;
    border-style: solid;
    align-items: initial
}

.nav-item {
    margin-right: 93px
}

.navbar-light .navbar-nav .nav-link {
    color: #757575
}

.headeer-top {
    background-image: url(../imag/imageBackground.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 1307px
}

.Search-bar {
    margin-top: -30px;
    width: 80%;
    align-content: center;
    margin-left: 10%
}

.card-body.border-re {
    margin-top: auto;
    border-radius: 30% !important
}

.alouer {
    margin-top: 20%;
    margin-left: 38%
}

.items-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px
}

.image-city .img {
    height: 20px;
    width: 20px
}

.city-title p {
    font-size: 30px;

}

.city-title i {
    margin: 10px;
}

.Text-1 {
    margin-left: 5%;
    font-size: 44px;
    font-family: javanese
}

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
    position: initial;
    margin: 50px
}

.item-box {
    border: 2px solid #757575
}

.image-city img {
    max-width: 100%
}

.city-title p {
    font-size: 30px;
    font-family: Freestyle
}

.item-description p {
    font-size: 20px
}

.city-title {
    display: inline-flex
}

.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
    border-radius: 200%
}